@media screen and (min-width:382px){
  body{
    background-color: #E5E4E4;
  }
  .cap{
    position: fixed;
    background-color: #49B29C;
    width: 100%;
    height: 70px;
    margin: 0px;
    margin-left: -8px;
    margin-top:-15px;
    padding: 0px;
  }
  #burguer{
    display: none;
  }
  #burguer li{
    display: none;
  }
  li{
    list-style-type:none;
  }
  #check{
    display: none;
  }
  .Logo{
    position: relative;
    width: 30px;
    height: 30px;
    top: 6px;
    left: 50%;
    margin: 0;
    margin-left: -15px;
    padding: 0;
    opacity: 0.7;
  }
  #desplegable{
    position: relative;
    background-color: #54C9B0;
    width: 100%;
    height: 80px;
    top: 5px;
    margin: 0;
    padding: 0;
  }
  .uno{
    width: 30%;
    height: 40px;
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;
    color: white;
    font-family: helvetica;
    font-size: 12pt;
    margin-top: 22px;
  }
  .dos{
    width: 30%;
    height: 40px;
    margin: 0;
    padding: 0;
    float: right;
    text-align: center;
    color: white;
    font-size: 12pt;
    margin-top: 22px;
  }
  .tres{
    color: white;
    width: 100%;
    height: 60px;
    margin-top: -15px;
    margin-left: -8px;
    padding: 0;
    float: left;
    text-align: center;
    color: white;
    font-size: 12pt;
    z-index: 2;
  }

  #flechaa {
    display: none;
  }

  .flecha {
    display: none;
  }
  .flechadesliza {
    display: none;
  }
  @keyframes desliza {
      0% { opacity:0; transform: translateX(60px); }
     20% { opacity:1; transform: translateX(45px); }
     80% { opacity:1; transform: translateX(-45px); }
    100% { opacity:0; transform: translateX(-55px); }
  }
  #flechaa2 {
    display: none;
  }
  .flecha2 {
    display: none;
  }
  .flechadesliza2 {
  display: none;
  }
  @keyframes desliza2 {
      0% { opacity:0; transform: translateX(-60px); }
     20% { opacity:1; transform: translateX(-45px); }
     80% { opacity:1; transform: translateX(45px); }
    100% { opacity:0; transform: translateX(55px); }
  }
  #banner img{
    display: none;
  }
  .Benvinguts{
    width: 100%;
    height: 30px;
    margin:0 auto;
    margin-top: 5px;
    padding-top: 110px;
    color: #49B29C;
  }
  h1{
    font-size: 21pt;
    text-align: center;
    font-weight: 900;
    color: #49B29C;
  }
  .Intro{
    width: 90%;
    height: 120px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
  }
  h4{
    font-size: 12pt;
    font-weight: 100;
  }
  #Promosio h4{
    font-size: 11pt;
    color: black;
    width: 80%;
    height: 120px;
    margin: 0 auto;
    margin-top: -5px;
    text-align: center;
  }
  #Promosio{
    position: absolute;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    margin-left: -8px;
    margin-top: 80px;
    opacity: 1;
    display: none;
  }
  #Promosio h1{
    font-size: 18pt;
    text-align: center;
  }
  #Box{
    background: red;
    position: absolute;
    align-content: center;
    width: 100%;
    height: 60px;
    margin:0 auto;
    opacity: 1;
}
#Box img{
  margin: 0 auto;
}
  #check2{
    cursor: pointer;
    position:absolute;
    top:361px;
    left:0px;
    z-index:1;
    width:381px;
    height:50px;
    opacity: 0;
  }
  #check2:checked ~ #Promosio{
    display: block;
  }
  .Info{
    width: 95%;
    height: 225px;
    margin: 0 auto;
    padding: 0;
    margin-top: 25px;
    text-align: center;
  }
  #registre{
    background: #49B29C;
    width: 115px;
    height: 40px;
    margin: auto;
    padding: 0;
    border-radius: 10px;
    text-align: center;
  }
  #registre h1{
    color: white;
    line-height: 32pt;
    font-size: 16pt;
  }
  form{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 30px;
    border-radius: 5px;
    text-align: center;
  }
  label{
    display: grid;
    width: 50%;
    height: 20px;
    margin: auto;
    font-size: 13pt;
    font-family: helvetica;

  }
  .alinea{
    display: inline-block;
    width: 15%;
    margin: 0;
    padding: 0;
  }
  #envia{
    background-color: #49B29C;
    width: 80px;
    height: 20px;
    margin-top: 10px;

  }
  .registrat{
    margin-top: 30px;
  }
  #registre{
    margin-top: -40px;
  }
  .capreg{
    position: fixed;
    background-color: #49B29C;
    width: 100%;
    height: 47px;
    margin: 0px;
    margin-left: -8px;
    margin-top: -10px;
    padding: 0px;
    line-height: 50px;
  }
  .fas fa-arrow-left{
    margin: 20px;
  }
  .verify{
    font-size: 12px;
    height: 40px;
  }
  }
