@media screen and (max-width:480px){
  body{
    background-color: red;
  }

.cap{
  position: fixed;
  background-color: #49B29C;
  width: 480px;
  height: 50px;
  margin: 0px;
  margin-left: -10px;
  padding: 0px;
}
#burguer{
 margin:0;
 padding:0;
 position:absolute;
 top:8px;
 left:10px;
 opacity: 0.5;
}
#burguer li{
  width:50px;
  height:4px;
  background-color:#FFF;
  margin: 5px 0;
}
li{
  list-style-type:none;
}
.check{
  cursor: pointer;
  position:absolute;
  top:-3px;
  left:0px;
  z-index:1;
  width:60px;
  height:50px;
  opacity: 0;
}
.Logo{
  position: fixed;
  width: 45px;
  height: 45px;
  top: 10px;
  left: 176px;
  margin: 0;
  padding: 0;
  opacity: 0.5;
}
.desplegable{
  position: fixed;
  background-color: #54C9B0;
  width: 480px;
  height: 200px;
  top: 57px;
  margin: 0;
  padding: 0;
}
.link1{
  width: 230px;
  height: 65px;
  margin: 0;
  padding: 0;
  float: left;
  text-align: center;
  color: white;
  font-family: helvetica;
  font-size: 12pt;
  margin-top: 10px;
}
.link2{
  width: 230px;
  height: 65px;
  margin: 0;
  padding: 0;
  float: right;
  text-align: center;
  color: white;
  font-family: helvetica;
  font-size: 12pt;
  margin-top: 10px;
}
.link3{
  width: 230px;
  height: 65px;
  margin: 0;
  padding: 0;
  float: left;
  text-align: center;
  color: white;
  font-family: helvetica;
  font-size: 12pt;
}
.link4{
  width: 230px;
  height: 65px;
  margin: 0;
  padding: 0;
  float: right;
  text-align: center;
  color: white;
  font-family: helvetica;
  font-size: 12pt;
}
.link5{
  width: 470px;
  height: 65px;
  margin: 0;
  padding: 0;
  float: left;
  text-align: center;
  color: white;
  font-family: helvetica;
  font-size: 12pt;
  z-index: 2;
}
#flechaa {
  width: 10px;
  height: 10px;
  display: flex;
}

.flecha {
  width: 5px;
  height: 5px;
  border: 3px solid;
  border-color: white transparent transparent white;
  transform: rotate(-45deg);
  position: absolute;
  top: -14px;
  left: 360px;
  z-index: 3
}


.flechadesliza {
  position: absolute;
  -webkit-animation: slide 4s linear infinite;
          animation: slide 4s linear infinite;
}
@keyframes slide {
    0% { opacity:0; transform: translateX(50px); }
   20% { opacity:1; transform: translateX(30px); }
   80% { opacity:1; transform: translateX(-30px); }
  100% { opacity:0; transform: translateX(-50px); }
}
}
