body{
  font-family: 'Roboto', sans-serif;
}
@media screen and (max-width:381px){
  body{
    background-color: #E5E4E4;
  }

.cap{
  position: fixed;
  background-color: #49B29C;
  width: 381px;
  height: 50px;
  margin: 0px;
  margin-left: -8px;
  margin-top: -10px;
  padding: 0px;
}
#burguer{
 margin:0;
 padding:0;
 position: absolute;
 top:9px;
 left:10px;
 opacity: 0.5;
}
#burguer li{
  width:50px;
  height:4px;
  background-color:#FFF;
  margin: 5px 0;
}
li{
  list-style-type:none;
}
#check{
  cursor: pointer;
  position:absolute;
  top:-3px;
  left:0px;
  z-index:1;
  width:60px;
  height:50px;
  opacity: 0;

}
#check:checked ~ #desplegable{
  display: block;
  z-index: 3;
}
.Logo{
  position: relative;
  width: 45px;
  height: 45px;
  top: 3px;
  left: 320px;
  margin: 0;
  padding: 0;
  opacity: 0.7;
}
#desplegable{
  position: relative;
  background-color: #54C9B0;
  width: 381px;
  height: 120px;
  top: 5px;
  margin: 0;
  padding: 0;
  display: none;
}
.uno{
  width: 160px;
  height: 65px;
  margin: 0;
  padding: 0;
  float: left;
  text-align: center;
  color: white;
  font-family: helvetica;
  font-size: 12pt;
  margin-top: 15px;
}
.dos{
  width: 160px;
  height: 65px;
  margin: 0;
  padding: 0;
  float: right;
  text-align: center;
  color: white;
  font-size: 12pt;
  margin-top: 15px;
}
.tres{
  color: white;
  width: 380px;
  height: 65px;
  margin-top: -10px;
  padding: 0;
  float: left;
  text-align: center;
  color: white;
  font-size: 12pt;
  z-index: 2;
}

#flechaa {
  width: 10px;
  height: 10px;
  display: flex;
}

.flecha {
  width: 5px;
  height: 5px;
  border: 3px solid;
  border-color: white transparent transparent white;
  transform: rotate(-45deg);
  position: absolute;
  top: -14px;
  left: 313px;
  z-index: 3
}
.flechadesliza {
  position: absolute;
          animation: desliza 4s linear infinite;
}
@keyframes desliza {
    0% { opacity:0; transform: translateX(60px); }
   20% { opacity:1; transform: translateX(45px); }
   80% { opacity:1; transform: translateX(-45px); }
  100% { opacity:0; transform: translateX(-55px); }
}
#flechaa2 {
  width: 10px;
  height: 10px;
  display: flex;
}
.flecha2 {
  width: 5px;
  height: 5px;
  border: 3px solid;
  border-color: white transparent transparent white;
  transform: rotate(135deg);
  position: absolute;
  top: 13px;
  left: 55px;
  z-index: 3
}
.flechadesliza2 {
  position: absolute;
  animation: desliza2 4s linear infinite;
}
@keyframes desliza2 {
    0% { opacity:0; transform: translateX(-60px); }
   20% { opacity:1; transform: translateX(-45px); }
   80% { opacity:1; transform: translateX(45px); }
  100% { opacity:0; transform: translateX(55px); }
}
#banner img{
  width: 380px;
  height: 120px;
  margin: 0;
  margin-left: -8px;
  margin-top: 40px;
  padding: 0;
  z-index: 4;
}
.Benvinguts{
  width: 380px;
  height: 30px;
  margin: 0;
  margin-left: -8px;
  color: #49B29C;
}
.Benvinguts h1{
  font-style: bold;
  font-size: 20pt;
  text-align: center;
}
.Intro{
  width: 325px;
  height: 120px;
  margin: 0;
  margin-left: 15px;
  margin-top: -5px;
  text-align: center;
}
.Intro h4{
  font-size: 11pt;

}
.Promosio h4{
  position: absolute;
  width: 350px;
  height: 100px;
  margin: 0;
  margin-left: 8px;
  margin-top: 0px;
  text-align: center;
  font-size: 11pt;
}
.Promosio{
  position: absolute;
  width: 380px;
  height: 30px;
  margin: 0;
  margin-left: -8px;
  margin-top: 80px;
  color: #49B29C;
  text-shadow:2px 2px 5px white;
  opacity: 0.4;
  display: none;
}
.Promosio h1{
  font-size: 18pt;
  text-align: center;
}
#Box{
  position: absolute;
  width: 80px;
  height: 60px;
  margin-left: 140px;
  opacity: 0.7;
  animation: 2s;
  animation-name: Box;
  animation-duration: 4s;
}
@keyframes Box {
  0%   {left:-200px; top:350px; opacity: 0.25}

  50%  {left:150px; top:350px;opacity: 0.40}

  100% {left:8px; top:350px; opacity: 0.6}
}
#check2{
  cursor: pointer;
  position:absolute;
  top:360px;
  left:0px;
  z-index:1;
  width:381px;
  height:50px;
  opacity: 0;
}
#check2:checked ~ #Promosio{
  display: block;
}
}
